@font-face {
    font-family: NewRodin;
    src: url("newrodin/newrodin.otf") format("opentype");
}

canvas {
    /*background-image: url("background.jpg");*/
    background-color: #121212;
}

body {
    overflow: hidden;
}